.gr {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:2vw; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    align-items: flex-start;
    grid-gap: 10px;
    margin-top: 3rem;
    /* grid-row-gap: 50px; */
}